<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="SignIn">
            <form action="/users/create_session"  method="POST">
                <input type="email" name="email" placeholder="Enter Email Id">
                <input type="password" name="password" placeholder="Enter your Password">
                <input type="submit" value="Sign In">
            </form>
            <br/>
            <p>
                <a href="/users/auth/google">Google SignIn</a>
            </p>
        </div>
    </body>
</html>