body{
    text-align: center;
    background-color: black;
    margin-top: 100px;
}

h1{
    color: red;
}

.container{
    width: 60vw;
    margin: auto;
    border: 1px solid white;
    min-width: 500px;
}

span{
    color: blue;
    margin: 0px 50px;
}

a{
    text-decoration: none;
}

#signin{
    border : 1px solid black;
    background-color: #efefef;
    color: black;
    width: 60px;
    height: 19px;
    display: inline-block;
}

#google{
    color: white;
    font-weight: bolder;
    margin-bottom: 50px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid red;
    background-color: blue;
}

input[type=submit]:hover{
    cursor: pointer;
}